<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Melodie</title>
    <link rel="stylesheet" href="/theme.css" type="text/css">
</head>
<body >
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Editare melodie<br></h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="c_form-h" class="" th:action="@{/melodii/save}" method="post" th:object="${melodie}">
                    <input type="hidden" th:field="*{idmelodie}">
                    <div class="form-group row"> <label class="col-2 col-form-label">Nume</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="ex: Take on me" th:field="*{nume}"> </div>
                    </div>
                    <div class="form-group row"> <label class="col-2 col-form-label">Durata</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="ex: George" th:field="*{durata}"> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right"><button type="submit" class="btn btn-primary">Editeaza</button></div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="text-center"><a th:href="@{/melodii}" class="btn btn-outline-primary"><b>Afiseaza</b></a></div>
<br>
<div class="text-center"><a th:href="@{/}" class="btn btn-outline-primary"><b>Home</b></a></div>

</body>
</html>