<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Interpretare</title>
    <link rel="stylesheet" href="/theme.css" type="text/css">
</head>
<body >
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Editare interpretare<br></h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="c_form-h" class="" th:action="@{/interpretari/save}" method="post" th:object="${interpretare}">
                    <input type="hidden" class="form-control" th:field="*{idinterpretare}">
                    <div class="form-group-row">
                        <label class="col-2 col-form-label">Nume muzician</label>
                        <select th:field="*{muzician}" class="form-control" required>
                            <th:block th:each="muzician:${muzicieniList}">
                                <option th:text="${muzician.nume}" th:value="${muzician.idmuzician}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group-row">
                        <label class="col-2 col-form-label">Nume melodie</label>
                        <select th:field="*{melodie}" class="form-control" required>
                            <th:block th:each="melodie:${melodiiList}">
                                <option th:text="${melodie.nume}" th:value="${melodie.idmelodie}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right"><button type="submit" class="btn btn-primary">Editare</button></div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="text-center"><a th:href="@{/interpretari}" class="btn btn-outline-primary"><b>Afiseaza</b></a></div>
<br>
<div class="text-center"><a th:href="@{/}" class="btn btn-outline-primary"><b>Home</b></a></div>

</body>
</html>